# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# macOS
.DS_Store

# VS Code
.vscode/

# IDE
.idea/

# Logs
*.log

# Python cache
.pytest_cache/

# Build
dist/
build/

# MediaPipe cache
*.tmp